<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error!!</title>
    <link rel="stylesheet" href="" th:href="@{/css/estils.css}"/>
</head>
<body>
<span th:switch="${status}">
    <span th:case="'404'">La pàgina no existeix!</span>
    <span th:case="'403'">No tens permesa aquesta opció!</span>
    <span th:case="'500'">Alguna cosa ha sortit molt malament...</span>
    <span th:case="*">
        <a th:text="${status}" ></a>
    </span>
</span>
<form class="centrat" action="/">
    <input class="boto" type="submit" value="Tornar a l'inici"/>
</form>
<br/>
<form class="centrat" th:action="@{/logout}" method="post">
    <input class="boto centrat" type="submit" value="Sortir (Sign Out)"/><br/>
</form>
</body>
</html>