<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llistat</title>
    <link rel="stylesheet" href="" th:href="@{/css/estils.css}"/>
</head>
<body>
<h1 class="centrat">Llistat</h1>
<table class="centrat">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Atk</th>
        <th>Hp</th>
        <th>Descripció</th>
        <th>Expansió</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr></br>
    </thead>
    <tr th:each="carta : ${llistaCartes}">
        <td th:text="${carta.id}">ID</td>
        <td th:text="${carta.nom}">Nom de la carta</td>
        <td th:text="${carta.atk}">Valor d'atac</td>
        <td th:text="${carta.hp}">Valor vida</td>
        <td th:text="${carta.desc}">Descripció</td>
        <td th:text="${carta.expansio.nom}">Expansió</td>
        <td><a th:href="@{/cartes/edit/{id}(id=${carta.id})}">Editar</a></td>
        <td><a th:href="@{/cartes/eliminar(id=${carta.id})}">Eliminar</a></td>
    </tr>
</table>
<br/>
<form class="centrat" th:action="@{/logout}" method="post">
    <input class="boto centrat" type="submit" value="Sortir (Sign Out)"/><br/>
</form>
<br/>
<form class="centrat" action="/">
    <input class="boto" type="submit" value="Tornar a l'inici"/>
</form>
</body>
</html>