<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llistat</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Telèfon</th>
        <th>Directiu</th>
        <th>Editar</th>
        <th>Eliminar</th>

    </tr></br>
    </thead>
    <tbody>
    <tr th:each="emp : ${llistaEmpleats}">
        <td th:text="${emp.id}">ID</td>
        <td th:text="${emp.nom}">Pepe Pérez</td>
        <td th:text="${emp.email}">pepe.perez@ole.com</td>
        <td th:text="${emp.telefon}">123456789</td>
        <td th:text="${emp.directiu}">es o no es</td>
        <td><a th:href="@{/empleats/edit/{id}(id=${emp.id})}">Editar</a> </td>
        <td><a th:href="@{/empleats/eliminar(id=${emp.id})}">Eliminar</a> </td><br/>

    </tr>
    </tbody>
</table>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sortir (Sign Out)"/>
</form>

</body>
</html>