<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login MTG</title>
    <link rel="stylesheet" href="" th:href="@{/css/estils.css}"/>
</head>
<body class="container">
<h2>Login</h2>
<div th:if="${param.error}">
    Usuari i/o password incorrectes
</div>
<div th:if="${param.logout}">
    T'has desconnectat
</div>
<form th:action="@{/login}" method="post">
    <div class="marge"><label> <input type="text" name="username" placeholder="Nom Usuari"/> </label></div>
    <div class="marge"><label> <input type="password" name="password" placeholder="Password"/> </label></div>
    <div class="marge"><input class="boto" type="submit" value="Entrar (Sign in)"/></div>
</form>
<br/>
<form th:action="@{/registre}" method="get">
    <a>No tens usuari?</a><br/>
    <input class="boto" type="submit" value="Registrar-se"/>
</form>

</body>
</html>